# Enable rewrite engine
RewriteEngine On

# Ensure requests are not directed to actual files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything through index.php/PATH
RewriteRule ^(.*)$ index.php/$1 [QSA,L]

# Set default index file
DirectoryIndex index.php
